@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@100..900&display=swap');

body, html{
    height: 100%;
    padding:0; 
    margin:0; 
}

body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif !important;
    font-weight: 800;
}

.dayText{
    align-items: center;
    text-align: center;
    font-weight: 800;
}

.tempText{
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem; 
}

.secondaryText{
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.weatherIcon{
    width:30%;
}

#placeDisplay{
    font-size:2rem; 
    color:white;
}

#placeDisplay:hover{
    cursor: pointer;
    text-decoration: underline;
}

#placeDisplay:hover #locationIcon {
    transform: rotate(360deg);
}

#locationIcon {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

#tempDisplay{
    font-size:3rem; 
    color:white; 
}

#otherDisplay{
    font-size: 2rem;
    color:white;
}
.card{
    background-color:transparent !important;
    border: 0px; 
}

.card-title{
    color:white; 
}

.card-text{
    color:white; 
}

.card:hover{
    transform: scale(1.15); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
    z-index: 10; 
    cursor: pointer;
    transition: 75ms ease;
}

#hourlyView{
    display:none;
}

#appTempDisplay{
    color:rgb(170, 167, 167);
    font-style: italic;
}

#inputContainer{
    backdrop-filter: blur(15px);
}

#weatherForm{
    width: 45%; 
    position: relative;
}

#placeInput{
    padding-left: 2rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.15); 
    border-radius: 30px;
}

#placeInput:hover, #placeInput:focus{
    outline:none;
    border: 1px solid;
    border-color: rgba(255, 0, 0, 0.7);
    box-shadow: 7px 7px 10px rgba(0,0,0,0.5);
}

#weatherForm:focus-within #inputIcon{
    transform: scale(1.25);
    transition: 75ms ease;
}

#inputIcon{
    display: flex;
    position: absolute; 
    margin-top: 14px;
    margin-left: 10px; 
}

#crossIcon{    
    display:none;
    margin-top: 14px;
    right: 0;
    margin-right: 10px;
    position: absolute;
}

#crossIcon:hover{
    transform: scale(1.25);
    transition: 75ms ease;
}

#inputText{
    font-size: 2rem;
    color:white;
}

.infoText{
    font-weight: 300 !important;
}

svg {
    stroke-width: 2px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
    opacity: 0.8;
}


#placeOptions{
    color:white;
    list-style-type: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.15); 
    border-radius: 30px;
    font-size: 1.25rem;
}

#placeOptions>div{
    padding-left: 1rem;
}

#placeOptions div:first-child{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

#placeOptions div:last-child{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#placeOptions> div:hover{
    background-color: rgba(255, 255, 255, 0.25); 
    cursor: pointer;
}

@media (max-width: 1250px) {
    #otherDisplay, #placeDisplay{
        font-size: 1.5rem;
    }

    #tempDisplay{
        font-size: 2.5rem;
    }

    #contentArea{
        margin-bottom: 0px;
    }
}

@media (max-width: 1050px) {
    #inputText{
        font-size:2rem;
    }
}

@media (max-width: 950px) {
    #inputText{
        font-size:1.75rem;
    }

    #placeOptions{
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    #inputText{
        font-size:1.50rem;
    }

    #weatherForm{
        width:65%;
    }
}

@media (max-width: 600px) {
    .infoTextValue{
        font-size: 1rem;
    }

    .infoText{
        font-size: 1.25rem;
    }

    #inputText{
        font-size: 1.25rem;
    }

    #weatherForm{
        width:75%;
    }
}

@media (max-width: 500px) {
    #tempDisplay{
        font-size:2rem;
    }

    #firstCol{
        width: 50%; 
    }

    #secondCol{
        width: 17%;
    }
}
