@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Outfit:wght@100..900&display=swap');

body, html{
    padding:0; 
    margin:0; 
}

body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif !important;
    font-weight: 800;
}
#contentArea{
    position:absolute;
    bottom: 0;
}


.cardElement{
    border: 2px solid black; 
    border-radius: 10%;
    min-height: 150px;
    width: 150px;  
    box-shadow: 5px 5px lightgray;
}

.dayText{
    align-items: center;
    text-align: center;
    font-weight: 800;
}

.tempText{
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem; 
}

.secondaryText{
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.weatherIcon{
    width:30%;
}

#placeDisplay{
    font-size:2rem; 
    color:white;
}

#tempDisplay{
    font-size:3rem; 
    color:white; 
}

#otherDisplay{
    font-size: 2rem;
    color:white;
}
.card{
    background-color:transparent !important;
}

.card-title{
    color:white; 
}

.card-text{
    color:white; 
}

.card:hover{
    transform: scale(1.15); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
    z-index: 10; 
    cursor: pointer;
    transition: 75ms ease;
}

#hourlyView{
    display:none;
}

#appTempDisplay{
    color:rgb(170, 167, 167);
    font-style: italic;
}
